# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# System / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Version control
.git/
.gitignore

# Docker files
Dockerfile*
docker-compose*
.dockerignore
